@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url("https://fonts.cdnfonts.com/css/lexend-deca");
//@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
//@import url('https://fonts.cdnfonts.com/css/lexend-deca');
//@import url("https://fonts.cdnfonts.com/css/barlow-semi-condensed");*/


:root {
  /*--foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;*/
}


@media (prefers-color-scheme: dark) {
  :root {
    /*--foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;*/
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
		Helvetica, Arial, sans-serif;
  font-family: 'Lexend Deca';
  font-weight: 400;
}

/** class name to highlight clicked menu*/
.activeMenu {
  color: rgba(134,89,250,1.00) !important;
  background-color: rgba(159, 133, 224, 0.1);
}



/** list for menus should appear without bullet points */
ul.tdb__li{
  list-style: none;
  margin: 0;
}

/** h2 subtitle */
h2.tdb__subtitle {
  color : #595959;
  font-style: italic;
  font-weight: 400;
  font-family: Lexend Deca;
  font-size:1.5rem;
  margin-bottom: 2rem;
}

.dark h2.tdb__subtitle {
color: #ffffff;
}

@media screen and (max-device-width: 480px)
    and (orientation: portrait) {
	h2.tdb__subtitle {
	  font-size:1.2rem;
	}
}	    

/** on this page list */
ul.tdb__on__this__page {
  list-style: none;
  margin-left: 0.8rem;
  font-size: 1.1rem;
}

a {
  color : #8659fa; 
}

a:hover {
  color :#e87cd6; 
}

a.tdb__on__this__page__links {
  color: #8899a8;
  font-size:0.8em !important;
  margin-bottom:0.8em;
}

a.tdb__on__this__page__links:hover {
  color: #8659fa;
}

a.tdb__menu__links {
  color: unset;
}

li.tdb__on__this__page__links:active {
  color: red; 
}

h4.divider { 
  padding-top: 1rem;
  border-top: 1px solid rgb(228, 224, 224);
}

@layer base {
  h1 {
    @apply  text-4xl font-extrabold leading-none tracking-tight text-gray-900  dark:text-white relative  scroll-mt-20 sm:text-3xl;
  }
  aside { 
    @apply top-16 !important;
  }
  h2 {
    @apply mb-5 font-barlow text-3xl font-extrabold dark:text-white font-semibold relative scroll-mt-20 ;
  }
  h3 {
    @apply mb-5 font-barlow text-2xl font-bold dark:text-white font-semibold relative scroll-mt-20;
  }
  h4 { 
    @apply mb-5 text-xl font-bold dark:text-white font-semibold relative scroll-mt-20;
  }
  h5 { 
    @apply font-bold dark:text-white font-semibold scroll-mt-20;
  }
  p {
    @apply mb-8 text-lg md:text-lg dark:text-gray-50 font-normal lg:leading-9 md:leading-9;
  }
  ol li { 
    @apply text-lg md:text-lg dark:text-gray-50 font-normal list-outside ml-8;
  }
  ol { 
    @apply space-y-1 list-decimal list-inside dark:text-gray-50 font-normal mb-8;
  }
  li + ul {
    @apply ml-8 list-outside; 
  }
  ul {
    @apply space-y-1 list-disc list-inside dark:text-gray-50 font-normal mt-8 mb-8 text-lg md:text-lg;
  }
  #mainContent li {
    @apply ml-8 list-outside;
  }
  img { 
    @apply max-w-full h-auto rounded-lg;
  }
  #mainContent img { 
    @apply max-w-full h-auto rounded-lg  mb-8;
  }
  pre { 
    @apply max-w-full h-auto rounded-lg  mb-8 !important;
  }
  code { 
    @apply bg-zinc-300 rounded-md text-black p-1 font-mono text-base;
  }
  table { 
    @apply mt-8 mb-8 w-full text-sm text-left dark:text-gray-50 font-normal break-words;
  }
  thead { 
    @apply text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-50 font-normal break-all;
  }
  tr {  
    @apply  border-b dark:bg-gray-900 dark:border-gray-700 break-all;
  }
  th { 
    @apply rounded-lg px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white break-words;
  }
  td {
    @apply md:text-lg p-3 break-words;
  }
  blockquote {
    @apply p-5 mb-3 italic rounded-md border-l-4 border-blue-300 bg-blue-50 dark:border-gray-500 dark:bg-gray-800 rounded-sm 
  }
  blockquote p {
    @apply mb-0  
  }
  #TableOfContents > ul {
    @apply overflow-x-hidden text-base text-gray-500 dark:text-gray-400;
  }
  
  
  #TableOfContents > ul > li > a {
    @apply block pl-2.5 text-base border-l border-white duration-200 hover:text-gray-900 transition-none dark:hover:text-white hover:border-gray-300 after:content-['#'] after:text-purple-700 dark:after:text-purple-500 dark:border-gray-900 dark:hover:border-gray-700 after:ml-2 after:opacity-0 hover:after:opacity-100 after:transition-opacity after:duration-100;
  }

  #TableOfContents > ul > li.active {
    color: rgba(134,89,250,1.00) !important;
    background-color: rgba(159, 133, 224, 0.1);
    border-left: 1px solid rgba(134,89,250,1.00);
  }
  
  #TableOfContents > ul > li > ul > li > a {
    @apply pl-6 border-l border-white duration-200 hover:text-gray-900 transition-none dark:hover:text-white hover:border-gray-300 after:content-['#'] after:text-purple-700 dark:after:text-purple-500 dark:border-gray-900 dark:hover:border-gray-700 after:ml-2 after:opacity-0 hover:after:opacity-100 after:transition-opacity after:duration-100;
  }

 
  
  #TableOfContents > ul > li > ul {
    @apply pt-2;
  }
  
  #TableOfContents > ul > li > ul > li {
    @apply py-2;
  }
  
  #TableOfContents > ul > li > ul > li:last-of-type {
    @apply pb-0;
  }
  
 
  
}





