@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url("https://fonts.cdnfonts.com/css/lexend-deca");*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url("https://fonts.cdnfonts.com/css/barlow-semi-condensed");


:root {
  /*--foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;*/
  }
}

body {
  /*font-family: 'Lexend Deca';
  font-weight: 400;*/
  
}

/** class name to highlight clicked menu*/
.activeMenu {
  color: rgba(134,89,250,1.00);
  background-color: rgba(159, 133, 224, 0.1);
}

code {
  font-family: Consolas,"courier new";
  color: rgba(59,69,78,1.00);
  background-color: #f1f1f1;
  padding: 6px;
  line-height: 24px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px;
}

/** list for menus should appear without bullet points */
.tdb__li {
  list-style: none;
  margin: 0;
}

h2.tdb__subtitle {
  color : #595959;
  font-style: italic;
  font-weight: 500;
}

a {
  color : #8659fa; 
}

a:hover {
  color :#e87cd6; 
}

@layer base {
  h1 {
    @apply mb-8 mt-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900  dark:text-white;
  }
  h2 {
    @apply mb-8 mt-4 text-3xl font-extrabold dark:text-white font-semibold;
  }
  h3 {
    @apply mb-8 mt-4 text-2xl font-bold dark:text-white font-semibold;
  }
  h4 { 
    @apply mb-8 mt-4 text-xl font-bold dark:text-white font-semibold;
  }
  p {
    @apply mb-8 text-lg text-gray-500 md:text-xl dark:text-gray-400;
  }
  ol li { 
    @apply text-lg text-gray-500 md:text-xl dark:text-gray-400;
  }
  ol { 
    @apply space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400 mb-4;
  }
  ul {
    @apply space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mt-8 mb-8 text-lg md:text-xl;
  }
  img { 
    @apply max-w-full h-auto rounded-lg  mb-12 mt-12;
  }
  pre { 
    @apply max-w-full h-auto rounded-lg  mb-12 mt-12;
  }
  table { 
    @apply mt-8 mb-8 w-full text-sm text-left text-gray-500 dark:text-gray-400 
  }
  thead { 
    @apply text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400
  }
  tr { 
    @apply  border-b dark:bg-gray-900 dark:border-gray-700
  }
  th { 
    @apply rounded-lg px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white
  }
  td {
    @apply md:text-xl
  }
}

