@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url("https://fonts.cdnfonts.com/css/lexend-deca");
//@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
//@import url('https://fonts.cdnfonts.com/css/lexend-deca');
//@import url("https://fonts.cdnfonts.com/css/barlow-semi-condensed");*/


:root {
  /*--foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;*/
}


@media (prefers-color-scheme: dark) {
  :root {
    /*--foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;*/
  }
}

html {
  scroll-padding-top: 600px !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
		Helvetica, Arial, sans-serif;
  font-family: 'Lexend Deca';
  font-weight: 400;
}

/** class name to highlight clicked menu*/
.activeMenu {
  color: rgba(134,89,250,1.00) !important;
  background-color: rgba(159, 133, 224, 0.1);
}



/** list for menus should appear without bullet points */
ul.tdb__li{
  list-style: none;
  margin: 0;
}

/** on this page list */
ul.tdb__on__this__page {
  list-style: none;
  margin-left: 0.8rem;
  font-size: 1.1rem;
}

h2.tdb__subtitle {
  color : #595959;
  font-style: italic;
  font-weight: 500;
}

a {
  color : #8659fa; 
}

a:hover {
  color :#e87cd6; 
}

a.tdb__on__this__page__links {
  color: #8899a8;
}

a.tdb__on__this__page__links:hover {
  color: #8659fa;
}

a.tdb__menu__links {
  color: unset;
}

li.tdb__on__this__page__links:active {
  color: red; 
}



@layer base {
  h1 {
    @apply  text-4xl font-extrabold leading-none tracking-tight text-gray-900  dark:text-white relative;
  }
  aside { 
    @apply top-28 !important;
  }
  h2 {
    @apply mb-4 mt-12 text-3xl font-extrabold dark:text-white font-semibold relative ;
  }
  h3 {
    @apply mb-4 mt-12 text-2xl font-bold dark:text-white font-semibold relative;
  }
  h4 { 
    @apply mb-4 mt-12 text-xl font-bold dark:text-white font-semibold relative;
  }
  h5 { 
    @apply mb-12  font-bold dark:text-white font-semibold;
  }
  p {
    @apply mb-12 mt-4 text-lg md:text-lg dark:text-gray-50 font-normal;
  }
  ol li { 
    @apply text-lg md:text-lg dark:text-gray-50 font-normal;
  }
  ol { 
    @apply space-y-1 list-decimal list-inside dark:text-gray-50 font-normal mb-4;
  }
  li + ul {
    @apply ml-8
  }
  ul {
    @apply space-y-1 list-disc list-inside dark:text-gray-50 font-normal mt-8 mb-8 text-lg md:text-lg;
  }
  img { 
    @apply max-w-full h-auto rounded-lg  mb-12 mt-12;
  }
  pre { 
    @apply max-w-full h-auto rounded-lg  mb-12 mt-12;
  }
  code { 
    @apply bg-zinc-300 rounded-md text-black p-1 font-mono text-base;
  }
  table { 
    @apply mt-8 mb-8 w-full text-sm text-left dark:text-gray-50 font-normal break-all;
  }
  thead { 
    @apply text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-50 font-normal break-all;
  }
  tr {  
    @apply  border-b dark:bg-gray-900 dark:border-gray-700 break-all;
  }
  th { 
    @apply rounded-lg px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white break-all;
  }
  td {
    @apply md:text-lg break-all;
  }
  blockquote {
    @apply p-2 my-2 border-l-4 border-blue-300 bg-blue-50 dark:border-gray-500 dark:bg-gray-800 rounded-sm 
  }
  #TableOfContents > ul {
    @apply overflow-x-hidden text-base text-gray-500 dark:text-gray-400;
  }
  
  
  #TableOfContents > ul > li > a {
    @apply block pl-2.5 text-base border-l border-white duration-200 hover:text-gray-900 transition-none dark:hover:text-white hover:border-gray-300 after:content-['#'] after:text-purple-700 dark:after:text-purple-500 dark:border-gray-900 dark:hover:border-gray-700 after:ml-2 after:opacity-0 hover:after:opacity-100 after:transition-opacity after:duration-100;
  }

  a.tdb__on__this__page__links:active {
    background-color: yellow !important; 
    border-radius:30px;
    transition: 0.3s;
  }
  
  #TableOfContents > ul > li > ul > li > a {
    @apply pl-6 border-l border-white duration-200 hover:text-gray-900 transition-none dark:hover:text-white hover:border-gray-300 after:content-['#'] after:text-purple-700 dark:after:text-purple-500 dark:border-gray-900 dark:hover:border-gray-700 after:ml-2 after:opacity-0 hover:after:opacity-100 after:transition-opacity after:duration-100;
  }

 
  
  #TableOfContents > ul > li > ul {
    @apply pt-2;
  }
  
  #TableOfContents > ul > li > ul > li {
    @apply py-2;
  }
  
  #TableOfContents > ul > li > ul > li:last-of-type {
    @apply pb-0;
  }
  
 
  
}





